// Setup common cross application themes.
body {
  background-color: $primary_black;
  color: $primary-white;
  font-family: 'Roboto', sans-serif;
}

// Use different font for main headings
h1{
  font-family: 'Poppins', sans-serif;
}