@import "../node_modules/bootstrap/scss/bootstrap";
@import "variables/variables";
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "themes";
@import "components/nav";
@import "components/card";
@import "pages/games";
@import "pages/game";
@import "pages/login";
@import "pages/add_review";
@import "pages/all_games";

