#game-page{
  .raiting-text{
    color: darkgoldenrod;
  }

  .card {
    padding: 16px;
  }

  .btn-refresh {
    color: $secondary-color;
  }

  .row {
    margin-top: 16px;
  }

  .review-header{
    display: flex;
    justify-content: space-between;

    .review-user-image{
      width: 64px;
      height: 64px;
      border-radius: 50%;
    }
  }
  
}