#game-page{
  .game-image {
    width: 100%;
    max-height: 256px;
  }

  .raiting-text{
    color: darkgoldenrod;
  }

  .card {
    padding: 16px;
  }

  .btn-review {
    background-color: $header-color;
    color: $text-black;
  }

  .btn-refresh {
    color: $secondary-color;
  }

  .row {
    margin-top: 16px;
  }
}