#games-for-genre-page{
  text-decoration: none;

  .game-row {
    background-color: $primary-white;
  }

  .card-body{
    color: $text-black;
  }

  .game-image-container{
    padding: 4px;
  }

  .game-image{
    width: 100%;
    height: 256px;
    margin-top: 12px;
    margin-bottom: 12px;
  }

  @media (min-width: 768px) and (max-width: 1200px) {
    .game-image{
      height: 128px;
    }
  }
}