#home-page{

  .card{
    padding: 8px;
  }

  .game-image{
    margin-left: auto;
    margin-right: auto;
    width: 256px;
    height: 256px;
  }

    // Decrease image size within certain width range to best fit content.
    @media (min-width: 768px) and (max-width: 1200px) {
      .game-image{
        width: 128px;
        height: 128px;
      }
    }

  .featured-game-text{
    margin-top: auto;
    margin-bottom: auto;
  }
}