#login-page {

  .btn {
    margin-top: 8px;
  }

  .btn-login {
    background-color: green;
  }

  .btn-reg {
    background-color: $primary-blue;
    color: $primary-white;
  }

  // Alter button colours when user is hovering over it.
  .btn-reg:hover {
    background-color: lighten($primary-blue, 0.5);
    color: darken($primary-white, 10);
  }

  .registration_container{
    background-color: lighten($primary_black, 15);
    padding: 12px;
  }

  form {
    label {
      color: $primary-white;
    }

    input {
      margin-bottom: 4px;
    }
  }

}