#login-page {

  .btn {
    margin-top: 8px;
  }

  .btn-login {
    background-color: green;
  }

  .btn-reg {
    background-color: $primary-blue;
  }

  form {
    label {
      color: $primary-white;
    }

    input {
      margin-bottom: 4px;
    }
  }

}