.btn-blue{
  background-color: $primary-blue;
  color: $text-black;
}

.btn-blue:hover{
  background-color: lighten($primary-blue, 0.5);
  color: $primary-white;
}

.btn-black{
  background-color: $primray-black;
  color: $primary-white;
}

.btn-black:hover{
  background-color: lighten($primray-black, 5);
  color: darken($primary-white, 5);
}