.card {
  background-color: $secondary-color;
  color: $text-black;
  margin-bottom: 1.5rem;
  text-decoration: none;

  .genre-card-image {
    width: 256px;
    height: 256px;
  }

  .genre-title {
    margin: auto;
  }
}