.card {
  background-color: $secondary-color;
  color: $text-black;
  margin-bottom: 1.5rem;
  text-decoration: none;

  .card-image {
    width: 128px;
    height: 128px;
    border-radius: 4px;
  }

  .genre-title {
    margin: auto;
  }

  @media (min-width: 576px) {
    .card-image{
      width: 256px;
      height: 256px;
    }
  }
}