footer{
  padding-top: 64px;
  text-align: center;
}

  // Double footer padding when screen is above certain width to make less obvious.
@media (min-width: 992px) {
  footer{
    padding-top: 128px;
  }
}